#title-section1 {
    background-image: url(../images/watersplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 150px;
}
#title {
    background-image: url(../images/waterdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container-fluid{
    padding: 2% 7%;
}

.image1 {
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
    position: relative;
    top: 360px;
    left: 35%;
}

/*section 2*/
.gen {
    color: black;
    background-image: url(static/images/waterdrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 80px 20px 0;
}

.gen .container-fluid .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

/*Section 3*/
#features{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9% 15%;
}
#features .feature {
    text-align: center;
    margin: 0 auto;
}


/*Fonts*/
.montserrat-alternates-thin {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5;
    font-size: 2.0rem;
}



.quattrocento-regular {
    font-family: "Quattrocento", serif;
    font-weight: 400;
    line-height: 1.5rem;
    font-style: normal;
    font-size: 1.0rem;
}

.quattrocento-bold {
    font-family: "Quattrocento", serif;
    font-weight: 700;
    font-style: normal;
}
.pacifico-regular {
    font-family: "Pacifico", system-ui;
    font-weight: 400;
    font-style: normal;
}
